@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tenor+Sans&display=swap');

/* Font Family
"Red Hat Display", system-ui;
"Tenor Sans", system-ui
*/
:root{

  /*Colors*/
  --Background: #282828;
  --BackSecundary: #F4EFE1;
  --dorado: #d8ba88;

  /*fuentes*/
  --Titulos: "Tenor Sans", system-ui;
  --Texto: "Red Hat Display", system-ui;

  /*fuentes*/

}


* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}

body{
  font-family: "Tenor Sans", system-ui;
  background-color: #F4EFE1;
}
img{
  max-width: 100%;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-contact{
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 30px 0 30px 0;
}
.header-menu{
  background: linear-gradient(to bottom, rgb(0 0 0 / .70), rgb(0 0 0 / .3)), url(./Menu/Parrilla/Parrilla-Asador\ entero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 40vh;
  padding: 30px 0 0 0;
}
.header{
  background: linear-gradient(to bottom, rgb(0 0 0 / .50), rgb(0 0 0 / .3)), url(/backgrounds/Menú.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 70vh;
  padding: 0px 0 0 0;
}
.menu{ 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
.logo-index{
  width: 250px;
}
 

 .logo img{
  margin-top: 1px;
  width: 50px;
 }
 .logomenu img{
  width: 35px;
  margin-bottom: 5px;
 }
 .menu .navbar ul li{
  position: relative;
  float: left;
 }
 .menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
 }

.menu .navbar ul li a:hover{
  color: #d8ba88;
}

#menu {
  display: none;
}
.menu-icono{
  width: 30px;
}
.menu label{
  cursor: pointer;
  display: none;
}


.header-menu2{
  background: linear-gradient(to bottom, rgb(0 0 0 / .70), rgb(0 0 0 / .3)), url(./Menu/Parrilla/vacas-al-aire-libre-bienestar-animal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 60vh;
  padding: 30px 0 0 0;
}



.information-content{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  margin-top: -50px;
}
.information-1{
  flex-basis: 30%;
}
.information-c1{
  padding: 45px;
  text-align: center;
  background-color: white;
  height: 300px;
}
.information-c1{
  padding: 45px;
  text-align: center;
  background-color: white;
  height: 300px;
}

h3{
  font-size: 40px;
  font-family:var(--Titulos);
  margin-bottom: 15px;
  color: #404140;
}
.information2{
  flex-basis: 70%;
}
.information-b1{
  height: 300px;
}
.information-a1{
  height: 300px;
}
.information-b1 img{
  height: 0px;
  width: 100%;
}
.information-a1 img{
  height: 300px;
  width: 100%;
}
.btn-1{
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #d8ba88;
  margin-top: 35px;
  color: #af8740;
  background-color: #fce5bd;
  text-transform: uppercase;
}

.our {
  margin-top: -50px;
  padding: 250px 0;
  background: linear-gradient(to bottom, rgb(0 0 0 / .50), rgb(0 0 0 / .3)), url(/Menu/Parrilla/Parrilla-Parrilla\ entraña.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}

.our2 {
  margin-top: -50px;
  padding: 200px 0;
  background: linear-gradient(to bottom, rgb(0 0 0 / .50), rgb(0 0 0 / .3)), url(/Menu/Parrilla/Parrilla-Asador\ entero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}

.our h2{
  font-size: 35px;
  color: aliceblue;
  text-transform: uppercase;
}

.our2 h2{
  font-size: 35px;
  color: aliceblue;
  text-transform: uppercase;
}


.ofert-content{
  display: flex;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  margin-top: -50px;

}



.ofert-1{
  flex-basis: 25%;
  
}
.ofert-txt{
  padding: 25px;
  text-align: center;
  background-color: #F4EFE1;
}
.ofert-img{
  height: 240px;
  width: 100%;
}
.ofert-img img{
  height: 240px;
  width: 100%;
}
.btn2{
  display: inline-block;
  padding: 11px 35px;
  border: 2px solid #d8ba88;
  margin-top: 10px;
  color: #af8740;
  background-color: #fce5bd;
  text-transform: uppercase;
}
.bg {
  margin-top: -50px;
  height: 500px;
  background: linear-gradient(to bottom, rgb(0 0 0 / .50), rgb(0 0 0 / .3)), url(/Assets/Ensalada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.food{
  padding: 5px 0;
  text-align: center;
  display: none;
} 
.food.activa {
  display: block;
}




/* Footer de la página */
.element-footer h3,
.element-footer h4,
.element-footer h5 {
  margin: 0; /* Eliminar margen predeterminado */
  font-size: 18px; /* Tamaño de fuente uniforme */
  color: #d8ba88;
  line-height: 1.2; /* Ajuste de altura de línea para un espaciado uniforme */
}

/* Ajuste de márgenes entre el encabezado y el contenido */
.element-footer ul,
.element-footer p {
  margin-top: 10px; /* Añadir un margen superior uniforme */
}

/* Resto del CSS del footer */
footer {
  background-color: #282828;
  color: var(--Secundary-c);
  padding: 1rem 0;
}

footer ul {
  padding: 0;
  list-style: none;
}

.wrap-footer {
  display: grid;
  grid-template-columns: 25% 20% 20% 20%;
  column-gap: 5%;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
}

.text-element-footer {
  line-height: 1.8;
  color: #d8ba88;
  padding: 0;
}

.text-element-footer li a,
.text-element-footer li {
  color: #d8ba88;
  text-decoration: none;
}

.rrss-element-footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
 
}

.redesxd {
  margin: 10px 0;
  align-items: center;
}

.rrss-element-footer img {
  width: 45px;
  transition: transform 0.3s ease;
}

.rrss-element-footer img:hover {
  transform: scale(1.1);
}

.rrss-element-footer li {
  margin-right: 0rem;
}

.footer-creds {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #d8ba88;
  font-size: 0.9rem;
  max-width: 1200px;
  margin: 0 auto;
}

.legal-creds ul {
  display: flex;
  padding: 0;
}

.legal-creds ul li {
  padding-right: 1rem;
}

.legal-creds ul li a {
  color: #576171;
  text-decoration: none;
  transition: color 0.3s ease;
}

.legal-creds ul li a:hover {
  color: #d8ba88;
}

@media (max-width: 768px) {
  .wrap-footer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    text-align: center;
  }

  .footer-creds {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .wrap-footer {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  
}

@media (max-width: 320px) {
  .footer-creds {
    flex-direction: column;
    text-align: center;
  }
  .redesxd{
    justify-content: center;
  }
}
@media (min-width: 480px) {
  .rrss-element-footer li {
    margin-right: 1rem;
  }
}
@media (max-width: 765px) {
  .rrss-element-footer li {
    margin: 10px;
  }
  .redesxd{
    justify-content: center;
  }
}


@media (max-width:991px){
  .menu{
    padding: 1px 15px;
    z-index: 10;
  }
  .menu label{
    display: initial;
    
  }
  .menu .navbar{
    position: absolute;
    top: 100%;
    left: 0; 
    right: 0;
    background-color: var(--Background);
    display: none;
  }
  .ofert-content h3{
    font-size: 40px;
    margin-top: -15px;
  }

  ofer
/**/
.menu .navbar ul li a:hover{
  color: var(--dorado);
}
.menu .navbar ul li{
  width: 100% ;
  text-align: center;
}
#menu:checked ~ .navbar{
  display: initial;
}

.header{
  min-height: 0vh;
}
.header-content{
  padding: 100px 30px;
}
.information-content{
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.our{
  margin-top: 0;
  padding: 150px 30px;

}
.information2{
  padding-bottom: 1px;
  background-color: #F4EFE1;
}
.ofert-content{
  margin-top: 0;
  flex-direction: column;
  align-items: center;
}
.ofert-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4EFE1;
}
.ofert-img{
  order: 2;
  margin-bottom: 25px;
}
.bg{
  margin-top: 25;
}
  .food{
    padding: 30px;
  }
  .food-content{
    padding: 0;
    flex-direction: column;
  }
  .food-1{margin: 0;
  }
  .logo{
    margin-left: 1px;
    padding: 0;
  }

  
}
/*Contáctanos*/

.body-contact{
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)),url(./Logo/Contacus.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contac{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  margin-top: 120px;
  width: 80%;
  max-width: 1000;
  z-index: 5;
}

.Contacus{
  display:grid;
  grid-template-columns: repeat(2,50%);
  padding:20px;
  gap:10px;
  width: 1000px;
  background-color: #282828;
  opacity: .70;
}

.box-info {
  color:#fff;
  display:flex;
  flex-direction: column;
  gap:50px;
}

.box-info > h1 {
  text-align: left;
  letter-spacing: 5px;
}

.data {
  display: flex;
  flex-direction: column;
  gap:25px
}

.data > p {
  font-size: 1rem;
}

.data > p > i {
  color:#AA0F2D;
  margin-right: 10px;
  font-size:25px;
}


.links {
  display:flex;
  gap:15px;
}

.links > a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: #AA0F2D;
  text-align: center;
  transition: .1s;
}

.links > a > i {
  color:#fff;
  line-height: 40px;
  font-size: 20px;
}

form {
  display:flex;
  flex-direction: column;
  text-align: center;
  gap:15px;
}

.input-box {
  position:relative;
}

.input-box > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline:none;
  background: rgba(255 255 255 / .1);
  border:3px solid transparent;
  letter-spacing: 1px;
  transition:.3s;
  color:#fff;
  
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
  color:#a3a3a3;
  
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
  color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
  border-bottom:3px solid #AA0F2D;
  animation: shake .2s;
}

.input-box > textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  background: rgba(255 255 255 / .1);
  border:3px solid transparent;
  letter-spacing: 1px;
  outline: none;
  transition:.3s;
  color:#fff;
  letter-spacing: 1.5px;
}


.input-box > i {
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right: 10px;
  color:rgba(255 255 255 / .3);
  transition: .3s;
}

.input-box > input:focus ~ i {
  color: #282828;
}

form > button {
  width: 100%;
  padding: 10px;
  outline: none;
  background: #AA0F2D;
  color:#fff;
  border:none;
  transition: .1s;
  cursor: pointer;
  font-size: 1rem;
}

form > button:hover,
.links > a:hover {
  background: rgb(172, 16, 47);
}

@keyframes shake { 
  0%, 100% {transform: translateX(0);} 
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
  20%, 40%, 60%, 80% {transform: translateX(10px);} 
}


@media screen and (max-width:990px) {
  .Contacus {
      width: 95%;
      display: flex;
      flex-direction: column;
      gap:20px;
  }

  .box-info {
      gap:15px;
  }

  .box-info > h1 {
      font-size: 1.5rem;
  }
}

/*menú del menú*/

.menu-seleccion {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto; 
  white-space: nowrap; 
  margin: 0 auto;
  width: 100%; 
}

.menu-seleccion button {
  display: flex;
  flex-direction: column; /* Coloca el ícono y el texto en columnas */
  align-items: center; /* Centra el ícono y el texto horizontalmente */
  background: none; /* Elimina el fondo predeterminado del botón */
  border: none; /* Elimina los bordes predeterminados del botón */
  padding: 10px; /* Espaciado interno del botón */
  cursor: pointer; /* Cambia el cursor al pasar por el botón */
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}



.menu-seleccion button img.icono {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-style: hidden;
  margin-bottom: 5px;
  display: block; 
  background-color: transparent;
  transition: transform 0.3s ease;
}

.menu-seleccion button span {
  font-size: 12px;
  text-align: center;
}

.menu-seleccion button:hover {
  background-color: #f1debb8e;
}

.Tacos{
  text-align: center;

}
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .menu-seleccion {
      justify-content: flex-start;
      overflow-x: auto;
      white-space: nowrap;
      margin-left: auto;
      margin-right:auto ;
  }

  .menu-seleccion button {
      width: 30%; /* Ajusta el ancho para permitir dos botones por fila */
      margin-left: 10px;
      margin-right: 10px;

  }
}


/* Menú segunda opción*/

.menu2{
  padding: 30px 1px 30px 1px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px,1fr));
  grid-gap: 30px 27px;
}

.food-items{
  display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 1px;
}

.food-items img{
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
  max-height: 39vh;
}

.menu3{
  padding: 30px 1px 30px 1px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px,1fr));
  grid-gap: 30px 15px;
}

.food-items2{
  display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 1px;
}

.food-items2 img{
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
  max-height: 35vh;
  object-fit: scale-down
}


.details{
  padding:  20px 10px;
  display: grid;
  grid-template-rows: auto ltf 50px;
  grid-row-gap: 15px;
}
.details-sub{
  display: grid;
  grid-template-columns: auto auto;
}
.details-sub>h5{
  font-weight: 600 ;
  font-size: 17px;
}
.description{
  text-align: left;
  font-family: var(--Titulos);
}
.price{
  text-align: right;
  color: var(--dorado);
  font-family: var(--Texto);
  font-size: 20px;
  margin-left: 30px;
}
.details>p{
  font-family: var(--Texto);
  color: #6f6f6f;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    text-align: left;
}

.menudes-seleccion{
  justify-content: center;
  max-height: 120px;
  border: 1px solid transparent;
  display:flex;
  overflow-x: auto;
}
.menudes-seleccion .icono{
  width: 41px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  margin-right: 2px;
  border-color: transparent;
}
.menu-seleccion::-webkit-scrollbar{
  width: 0;
}
.despla{
  color: #AA0F2D;
  background-color: black;
  font-size: 50px0;
  outline: none;
  border: none;
  padding: 0px 20px;
  cursor: pointer;

}
.scroll-container {
  display: flex;
  align-items: center;
}
.scroll-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  height: 10px;
}



/* Mostrar los botones en pantallas móviles */
@media (max-width: 768px) {
  .scroll-button {
      display: block;
  }

  .menu-seleccion.container {
      width: 100%;
  }
}

/* Ocultar los botones en pantallas grandes */
@media (min-width: 769px) {
  .scroll-button {
      display: none;
  }

  .menu-seleccion.container {
      width: 100%;
      overflow: visible; /* Para permitir la visualización completa sin desplazamiento */
  }
}

.menuh1{
  color: #ddd;
  font-size: 65px;
  font-family: var(--Titulos);
  text-align: center;
}



.food h2{
  font-size: 50px;
  padding-top: 10px;
  font-family: var(--Titulos);
  color: #282828;
}

.food span{
  font-size: 25px;
  margin: 10px auto;
  font-family: var(--Titulos);
  color: #282828;
  text-align: center;

}

.contac-in {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 80px;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 10px 0px black;
  justify-content: space-between;
  overflow: hidden; 
  
}

.contac-in::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 34, 34, 0.4); 
  z-index: 1; 
}
.contac-maps {
  flex: 1; 
  height: auto;
  min-width: 300px; 
  
}

.contac-maps, .contac-dat {
  position: relative;
  z-index: 2; /* Elevar el contenido por encima del fondo semitransparente */
}
.contac-dat {
  flex: 1; 
  text-align: center;
  min-width: 300px; 
  margin-top: auto;
  margin-bottom: auto;
  font-family: var(--Texto);
}

.contac-dat h1 {
  margin-bottom: 10px;
  color: #a3a3a3;
  font-size: 35px;
}

.contac-dat h2 {
  margin-bottom: 10px;
  color: #a3a3a3;
  font-size: 20px;
}

.contac-dat h3 {
  margin-top: 10px;
  color: #a3a3a3;
  font-size: 15px;
}

.contac-dat p {
  width: 100%;
  color: #a3a3a3;
}
@media (max-width: 768px) {
  .contac-in {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
  }

  .contac-dat {
    order: -1; /* Mueve los datos hacia arriba */
  }
  .contac-maps {
    flex: 1; 
    height: auto;
    width: 100%; 
}
 /* Ajustar el iframe del mapa a la pantalla completa */
 .contac-maps iframe {
  width: 100%;
  height: 200; /* Permitir que la altura se ajuste automáticamente */
}
.remod{
  margin-bottom: 20px;
}
}

.scroll-container button:hover{
  transform: scale(1.2);
}



/*REserva*/

.informationReser-content{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  margin-top: -50px;
  margin-bottom: 0px;
}
.informationReser-1{
  flex-basis: 50%;
}.informationReser2{
  flex-basis: 50%;
}
.informationReser-c1{
  padding: 0;
  margin-top: -70px;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  height: 100px;
}

.informationReser-c1 h3{
  font-size: 40px;
  font-family:var(--Titulos);
  margin-bottom: 15px;
  color: #fff;
}

.informationReser-c1 p{
  font-size: 20px;
  font-family:var(--Titulos);
  margin-bottom: 15px;
  color: #F4EFE1;
}


.h3{
  font-size: 40px;
  font-family:var(--Titulos);
  margin-bottom: 15px;
  color: #404140;
}
.informationReser-a1 img{
  height: 300px;
  width: 100%;
}


@media (max-width:991px){
  .informationReser-content{
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .our2{
    margin-top: -20px;
    padding: 150px 30px;
  
  }
  .informationReser2{
    padding-bottom: 1px;
    background-color: transparent;
  }
  .ofert-content{
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .ofert-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4EFE1;
  }
  .ofert-img{
    order: 2;
    margin-bottom: 25px;
  }
}


/*about us y prueba de header 2¨*/

.header-menu3{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6%;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 100;
  background-color: #202020;
    opacity: .7;
}

.header-menu3 .logo img{
  height: 3rem;
  z-index: 10000;
}

.header-menu3 .navbar1 a{
  margin: 0 1rem;
  font-size: 1rem;
  color: #F4EFE1;
  z-index: 1000;
}

.header-menu3 .navbar1 a:hover{
  color: #af8740;
  border-bottom: .1rem solid #af8740;
  padding-bottom: .5rem;
}

.icons2{
  display: none;
}
@media (max-width: 968px){
  .header-menu3{
    padding: 1rem 2rem;
    border-bottom: 2px solid #202020;
    background-color: #202020;
    opacity: .95;
  }

  .icons2{
    display: inline-block;
    cursor: pointer;
  }
  .icons2 img{
    width: 30px;;
  }
  .header-menu3 .navbar1.active {
    right: 0; /* Muestra el menú cuando se activa */
  }


  .header-menu3 .navbar1{
    position: absolute;
    top: 100%; right: -100%;
    background: #282828;
    width: 100%;
    height: calc(1000vh - 9.5rem);
  }
  .header-menu3 .navbar1 a{
    color: #F4EFE1;
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 1rem;
  }

  .home{
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home1{
    background-position: left;
    justify-content: center;
    text-align: center;
  }
  
  .home .content6 .h3{
    font-size: 2rem;

  }

  .home .content6 p{
    font-size: .5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem;
    color: #F4EFE1;
  }

}




.btns{
  margin: 1rem;
  display: inline-block;
  padding: .7rem  3rem;
  font-size: 1.7rem;
  color: #F4EFE1;
  background-color: #af8740;
  cursor: pointer;
  font-family: var(--Texto);
}

.btns:hover{
  letter-spacing: .2rem;
}

.home{
  min-height: 70vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgb(0 0 0 / .50),
   rgb(0 0 0 / .3)), url(./Aboutus/vacas-al-aire-libre-bienestar-animal\ \(1\).png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content6{
  max-width: 50rem;
}

.home .content6 h3{
  padding-left: 30px;
  margin-top: 70px;
  font-size: 40px;
  text-transform: uppercase;
  color: #cacaca;
  font-family: var(--Titulos);
}

.home .content6 p{
  padding-left: 30px;
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.8;
  color: #F4EFE1;
}
.home .content6 .btns{
  margin-left: 30px;
}


/*header fin*/

.abouts {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.headtross {
  text-align: center;
  color: #af8740;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 45px;
  font-family: var(--Titulos);
  background-color: #f4efe1;
}

.headtross span {
  color: #202020;
  text-transform: uppercase;
  font-family: var(--Titulos);
}

.abouts .row {
  display: flex;
  align-items: center;
  background: #F4EFE1;
  flex-wrap: wrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.abouts .row .imag {
  flex: 1 1 60px;
}

.abouts .row .imag img {
  width: 100%;
}

.abouts .row .contentab {
  flex: 1 1 30px;
  padding: 2rem;
}

.abouts .row .contentab h3 {
  font-size: 30px;
  color: #282828;
  padding: 10px 0;
  font-family: var(--Titulos);
}

.abouts .row .contentab p {
  font-family: var(--Texto);
}

/* Media Query para pantallas de menos de 700px */
@media (max-width: 760px) {
  .abouts .row {
    flex-direction: column; /* Coloca los elementos en columna */
  }

  .abouts .row .contentab {
    order: 1; /* Hace que el contenido con h3 y p aparezca primero */
    text-align: center;
  }

  .abouts .row .imag {
    order: 2; /* La imagen aparece después del texto */
  }
}
.segment2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.segment2 .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1.5rem;
}

.segment2 .box-container .box {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 5px;
}

.segment2 .box-container .box .imag {
  height: 300px;
  overflow: hidden;
  width: 100%;
}

.segment2 .box-container .box .imag img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.segment2 .box-container .box:hover .imag img {
  transform: scale(1.1);
}

.segment2 .box-container .box .content {
  padding: 1rem;
  text-align: center;
}

.segment2 .box-container .box .content p {
  font-size: 15px;
  font-family: var(--Texto);
  color: var(--Background);
  padding: 0.5rem;
}

.segment2 .box-container .box .content h4{
  font-size: 25px;
  font-family: var(--Texto);
  color: var(--Background);
  padding: 2px;
}

/* Media Query para pantallas menores a 700px */
@media (max-width: 700px) {
  .segment2 .box-container {
    grid-template-columns: 1fr; /* Una columna para cada box */
  }
}

.segment3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), 
              url(./Aboutus/Bebidas-La\ dolce\ far\ niente.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.segment3 .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 1.5rem;
  width: 90%;
  margin: 10px auto;
}

.box {
  backdrop-filter: blur(3px);
  border-radius: 5px;
}

.segment3 .box-container .box {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
  text-align: center;
  padding: 3rem 2rem;
}

.segment3 .box-container .box p {
  font-size: 15px;
  font-family: var(--Texto);
  color: #c2bfbf;
  padding: 0.5rem;
}

.segment3 .box-container .box h3 {
  font-size: 25px;
  font-family: var(--Titulos);
  color: var(--BackSecundary);
  padding: 5px;
}

.segment3 .box-container .box .s3 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/* Media Query para pantallas menores a 700px */
@media (max-width: 700px) {
  .segment3 .box-container {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
  }
}
/*Header index*/

.home1{
  min-height: 70vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgb(0 0 0 / .50),
   rgb(0 0 0 / .3)), url(./backgrounds/Menú.gif) no-repeat;
  background-size: cover;
  background-position: center;
}

.home1 .contentin img{
  height: 250px;
  width: 250px;
}  

.contentin{
  align-items: center;
}

.home1{
  justify-content: center;
  text-align: center;
}
/*Header Menú*/

.home2{
  min-height: 70vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgb(0 0 0 / .50),
   rgb(0 0 0 / .3)), url(./Menu/Parrilla/Parrilla-Asador\ entero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home2 .contentin img{
  height: 250px;
  width: 250px;
}  

.contentin{
  align-items: center;
}

.home2{
  justify-content: center;
  text-align: center;
}

.home2 h1{
  margin-top: 30px;
}

/*Header Contacus*/